* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/*End of Normalizing Styles*/

@font-face {
	font-family: 'MyWebFont';
	src: url('../fonts/jaapokki-regular.eot');
	src: url('../fonts/jaapokki-regular.eot') format('eot'),
		url('../fonts/jaapokki-regular.woff') format('woff'),
		url('../fonts/jaapokki-regular.ttf') format('truetype'),
		url('../fonts/jaapokki-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
	max-width: 1920px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 1%;
}

header {
	position: fixed;
	margin: 0 auto;
	top: 0;
	width: 98%;
	height: 130px;
	display: flex;
	flex-direction: column;
	/* Flex direction column to stack items vertically */
	background-color: #fff;
	z-index: 2;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	overflow: hidden;
}

/* MENU */

.menuWraper {
	width: 80%;
	height: 80px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 1);
}

.menuContainer {
	width: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 75px;
	flex-wrap: nowrap;
}

.upperMenu {
	width: 100%;
}

.menuIcon {
	display: none;
}

.menuList>li {
	position: relative;
	margin: 0 20px 0px 0px;
	width: fit-content;
}

.menuLink {
	color: #000;
	font-family: 'jaapokki-regular';
	font-size: 20px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
	transition: border-bottom 1s ease, border-top 1s ease;
}

.menuLink:hover {
	color: #038596;
	border-bottom: 2px solid #038596;
	border-top: 2px solid #038596;
}

.special {
	color: red;
}

.special:hover {
	color: red;
	border-bottom: 2px solid red;
	border-top: 2px solid red;
}

.menuSubList {
	position: fixed;
	left: 0;
	top: 55px;
	background-color: #fff;
	padding: 25px;
	width: 100vw;
	height: 100vh;
}

.menuSubList li {
	margin: 0px 0px 30px 50px;
}

.menuSubLink {
	color: #000;
	text-decoration: none;
	font-size: 22px;
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
	transition: border-bottom 1s ease, border-top 1s ease;
}

.menuSubLink:hover {
	color: #038596;
	border-bottom: 2px solid #038596;
	border-top: 2px solid #038596;
}

.menuArrow {
	display: none;
}

/* ----------------------- */
body._pc .menuList>li:hover .menuSubList {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menuList>li {
	display: flex;
	align-items: center;
}

body._touch .menuLink {
	flex: 1 1 auto;
}

body._touch .menuArrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000;
}

body._touch .menuList>li._active .menuSubList {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menuList>li._active .menuArrow {
	transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 991px) {
	.menuList {
		display: flex;
	}

	.menuList>li {
		padding: 10px 0;
	}

	.menuSubList {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 1200px) {
	
	.menuIcon {
		z-index: 20;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin-left: 0px;
		margin-top: 0px;
	}

	.menuIcon span,
	.menuIcon::before,
	.menuIcon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}

	.menuIcon::before,
	.menuIcon::after {
		content: "";
	}

	.menuIcon::before {
		top: 0;
	}

	.menuIcon::after {
		bottom: 0;
	}

	.menuIcon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menuIcon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menuIcon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menuIcon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menuBody {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #9fe8d6;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menuBody._active {
		left: 0;
	}

	.menuBody::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 100px;
		left: 0;
		height: 70px;
		z-index: 20;
	}

	.menuList>li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}

	.menuList>li:last-child {
		margin-bottom: 0;
	}

	.menuList>li._active .menuSubList {
		display: block;
	}

	.menuLink {
		font-size: 24px;
	}

	.menuSubList {
		position: relative;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
		background-color: #9fe8d6;
	}

	.menuSubLink {
		font-size: 20px;
		color: #000;
	}
}

@media (max-width: 768px) {
	.menuContainer {
		flex-wrap: wrap;
	}
}

@media (max-width: 460px) {
	.menuContainer {
		justify-content: center;
	}
}


/* MENY END */

/* SIGN IN / SIGN UP */

.account {
	position: relative;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 30%;
	/* display: none; */
}

.user_menu_container {
	position: relative;
	display: flex;
	width: 75px;
	align-items: center
}

#user,
#cart {
	width: 18px;
	height: 18px;
}

#user {
	margin-right: 35px;
}

#close {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}
#close img {
	width: 18px;
	height: 18px;
}
#user i,
#cart i {
	font-size: 18px;
	line-height: 18px;
}

#cart i {
	position: absolute;
	top: 0;
}

#user i {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	pointer-events: all;
}

.menu_items {
	position: absolute;
	top: 35px;
	right: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	height: 300px;
	width: 315px;
	transform: translate(150%);
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	padding-left: 0px;
	transition: transform 0.5s ease-in-out;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.user_menu_container input[type="checkbox"]:checked~.menu_items {
	transform: translateX(0);
}

.user_menu_container input[type="checkbox"]:checked~#user i {
	opacity: 0;
}

.user_menu_container input[type="checkbox"]:checked~#close {
	opacity: 1;
}

.login {
	margin: 20px auto;
	width: 200px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #03cbe6;
}

.user_menu_items {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 500;
}

.menu_items a {
	color: #000;
	text-decoration: none;
}

/* SIGN IN / SIGN UP END /*

/* SEARCH BAR */

.search_container {
	width: 100%;
	height: 30px;
	border: 2px solid #03cbe6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.input_container {
	width: 100%;
	height: 100%;
}
.input_container, .input_container input {
	width: 100%;
	height: 100%;
}
.search_button {
	margin: 20px auto;
	width: 200px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #03cbe6;
}

@media (max-width: 460px) {
	.search_button {
		width: 100px;
	}
}

/* SEARCH BAR END */

main {
	margin-top: 130px;
}

/* LOGO */

.logo-container {
	width: 100%;
	margin: 1% auto 0 auto;
}

.logo {
	width: 100%;
}

/*LOGO END */

/* CARDS CONTAINER */

.cards-container {
	margin: 50px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}

/* @media (max-width: 978px) {
	.cards-container {
		justify-content: space-around;
	}
}

@media (max-width: 647px) {
	.cards-container {
		justify-content: center;
	}
} */

/* CARDS CONTAINER END */

/* CQRDS */

.card {
	flex: 1 1 auto;
	/* Grow, shrink, basis */
	/* min-width: 300px;
	max-width: 300px; */
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.card:hover,
.card.hover {
	transform: translateY(-4px);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-content,
.card.hover .card-content {
	box-shadow: inset 0 3px 0 0 #ccb65e;
	border-color: #ccb65e;
}

.card:hover .card-img .overlay,
.card.hover .card-img .overlay {
	background-color: rgba(25, 29, 38, 0.85);
	transition: opacity 0.2s ease;
	opacity: 1;
}

.card-img {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #fff;
	transition: opacity 0.2s ease;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-img .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}

.card-img .overlay .overlay-content {
	line-height: 300px;
	width: 100%;
	text-align: center;
	color: #fff;
}

.card-img .overlay .overlay-content a {
	color: #fff;
	padding: 0 2rem;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}

.card-img .overlay .overlay-content a:hover,
.card-img .overlay .overlay-content a.hover {
	background: #038596;
	border-color: #038596;
}

.card-content {
	width: 100%;
	min-height: 104px;
	background-color: #fff;
	border-top: 1px solid #e9e9eb;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 1rem 2rem;
	transition: all 0.2s ease;
}

.card-content a {
	text-decoration: none;
	color: #202927;
}

.card-content h2,
.card-content a h2 {
	font-size: 20px;
	font-weight: 500;
}

.card-content p,
.card-content a p {
	font-size: 18px;
	white-space: nowrap;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(32, 41, 28, 0.8);
}

.separator {
	/* display: none; */
	margin-top: 50px;
	width: 100%;
	height: 3px;
	background-color: #b4f6ff;
}

/* SLIDER */
/* main page */

.slider {
	width: 100%;
	height: 450px;
	margin-top: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
}

@media (max-width: 768px) {
	.slider {
		flex-direction: column;
		height: auto;
	}
}

.swiper {
	width: 300px;
	height: 100%;
	overflow: hidden;
}

.swiper-slide {
	position: relative;
	width: 100%;
}

.swiper-slide img {
	width: 100%;
	position: relative;
}

.overlay-slide {
	position: absolute;
	background-color: rgba(76, 119, 124, 0.3);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}

.overlay-slide-two {
	position: absolute;
	background-color: rgba(76, 119, 124, 0.9);
	bottom: 0;
	width: 100%;
	height: 100px;
}

.title {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	z-index: 5;
}

.subtitle {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: 'jaapokki-regular';
	font-size: 24px;
	font-weight: 600;
	z-index: 5;
}

.numbers {
	font-family: 'Playfair', serif;
	font-size: 25px;
}

.testimonial {
	flex: 1;
	height: 100%;
	font-family: 'Dynalight', cursive;
	font-size: 40px;
	padding-left: 30px;
}

@media (max-width: 768px) {
	.testimonial {
		padding: 0;
	}
}

.testimonial-text {
	margin: 0 auto;
	height: 100%;
	box-shadow: 5px 5px 15px 0 rgba(76, 119, 124, 0.3);
}

.testimonial-message {
	display: inline-block;
	position: relative;
	top: 20%;
	padding: 0 40px;
}

.testimonial-signature {
	display: inline-block;
	position: relative;
	top: 30%;
	width: 100%;
	padding: 0 110px;
	text-align: right;
}

@media (max-width: 991px) {
	.testimonial-message {
		top: 10%;
	}

	.testimonial-signature {
		top: 20%;
	}
}

@media (max-width: 768px) {
	.testimonial {
		height: auto;
		margin-top: 30px;
	}

	.testimonial-text {
		height: auto;
		padding: 10px 0;
	}
}

/* category page */
.slider-category {
	width: 100%;
	height: 609px;
	margin-top: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
}

@media (max-width: 768px) {
	.slider-category {
		flex-direction: column;
		height: auto;
	}
}

.swiper-category {
	width: 300px;
	height: 100%;
	overflow: hidden;
}

.swiper-slide-category {
	position: relative;
	width: 100%;
}

.swiper-slide-category img {
	width: 100%;
	position: relative;
}

.overlay-slide-category {
	position: absolute;
	background-color: rgba(76, 119, 124, 0.3);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}

.overlay-slide-two-category {
	position: absolute;
	background-color: rgba(76, 119, 124, 0.9);
	bottom: 0;
	width: 100%;
	height: 100px;
}

.title-category {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	z-index: 5;
}

.subtitle-category {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: 'jaapokki-regular';
	font-size: 24px;
	font-weight: 600;
	z-index: 5;
}

/* SLIDER END */

/* FOOTER */
footer {
	margin-top: 30px;
	padding-bottom: 50px;
}

.links-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.left-column a,
.right-column a {
	text-decoration: none;
	font-size: 18px;
	color: #202927;
	font-family: 'jaapokki-regular';
}

.right-column {
	text-align: right;
}

.footer-link {
	margin-bottom: 5px;
}

.copyright {
	margin-top: 30px;
	font-family: 'jaapokki-regular';
	font-size: 18px;
	color: #202927;
	text-align: center;
}

.copyright p {
	margin-bottom: 7px;
}

#realisation {
	margin-top: 10px;
	color: #5c5e5d;
	font-size: 16px;
}

.copyright a {
	text-decoration: none;
	color: #5c5e5d;
}

/* FOOTER END */